@charset "ISO-8859-1";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	border: 3px solid black;
	width: 20%;
	height: 800px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number input {
	width: 50px;
}

div{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-top: 20px;
}

label {
	font-size: 20px;
}

input {
	height: 20px;
	margin-top: 5px;
	border: 3px solid black;
	font-size: 15px;
}

textarea {
	margin-top: 5px;
	border: 3px solid black;
	font-size: 15px;
}

.send {
	width: 300px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.send input{
	font-size: 20px;
	width: 70px;
	height: 40px;
	background-color: blue;
	color: white;
	box-shadow: 2px 2px 2px 2px black;
	cursor: pointer;
}

.send input:active {
	background-color: #0080c0;
}