@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

body {
	display:flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top:20px;
}

.line {
	width: 80%;
	height:3px;
	border: 0px;
	border-radius: 50%;
	background-color:black;
	margin-top:20px;
}

h4 {
	width:80%;
}

form {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.table {
	width:80%;
	margin-top:20px;
	border: 2px solid black;
	table-layout: fixed;
	display: table;
}

tr {
	border: 2px solid black;
	
}
td {
	padding: 16px;
	display: table-cell;
	border: 2px solid black;

}

li {
	list-style: none;
	font-weight: bold;
	margin-top:10px;
}

.float-right {
	text-align: right;
}

.float-left {
	text-align: left;
}

.input {
	width:100%;
}

.button {
	background-color: white;
	box-shadow: 1px 2px 1px 1px black;
}

